<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <div class="container center">
        <i class="material-icons prefix">sentiment_very_dissatisfied</i>
        <h1>Oops!</h1>
        <h3>Page not found</h3>
    </div>
</body>
</html>